# env do exercicio 609.py
NOME="YOUR NAME"
IDADE="YOUR AGE"

# env do exercicio 610.py
DEBUG="YOUR DEBUG"
PORT="YOUR PORT"
APP_NAME="YOUR NAME APPLICATION"

# env do exercicio 611.py
DATABASE_URL="YOUR DATABASE"
SECRET_KEY="YOUR SECRET KEY"
TIMEOUT="YOUR TIMEOUT"

# env de conexão oracle SQL
ORACLE_HOST=127.0.0.1
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=FREEPDB1
ORACLE_USER="YOUR USER"
ORACLE_PASSWORD="YOUR PASSWORD"
